<div class="app-container contenedor">
  <h1 class="text-center">{{ titulo }}</h1>
  <h2 class="text-center">{{ contador }}</h2>
  <div class="botonera">
    <button class="btn btn-info" (click)="incrementarContador()">Incrementar</button>
    <button class="btn btn-danger" (click)="decrementarContador()">Decrementar</button>
  </div>
</div>
<!-- <hr class="separador"/>
<div class="contenedor-hijo">
  <app-hijo [contadorHijo]="contador" (respuestaContadorHijo)="recibirContadorHijo($event)"></app-hijo>
</div> -->
